
.borrowReturn td:first-child {
    font-weight: bold;
}

.borrowReturn {
    padding: 40px 20px 20px 20px;
    border: 1px solid black;
    width: 65%;
    background-color: #e8ffdf;
    position: relative;
}

.tbBorrowReturn {
    background-color: aliceblue;
    width: 60%;
    border: 1px solid blue;
}

    .tbBorrowReturn td {
        padding: 10px;
        border: 1px solid blue;
        text-align: center;
    }

        .tbBorrowReturn td:nth-child(2) {
            min-width: 250px;
        }

    .tbBorrowReturn th {
        background-color: #8ac2ff;
    }

.tbBorrowReturn th a {
    text-decoration: none;
    color: #090151;
    background-color: aliceblue;
    padding:2px;
}

.tbBorrowReturn th a:hover {
    text-decoration: none;
    color: blue;
}



.dvBooks tr:first-child {
}

#usernameId {
    display: none;
    background-color: red;
    height: 100px;
}


.topRight {
    position: absolute;
    top: 10px;
    right: 10px;
}